body {
    background-color: #FDFFEF;
}

header {
    background-color: #9D653F;
    padding: 25px;
    text-align: center;
}

header h1 {
    color: #FDFFEF;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header h5 {
    color: #FDFFEF;
    font-size: 20px;
    font-weight: 300px;
    margin: 0;
    margin-top: 10px;
}